.node-btn {
  width: 2%;
  height: 4vh;
  background: transparent;
  text-decoration: none;
  border: 0.1px solid #ffffff1c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  cursor: pointer;
}

.node-information {
  width: 2em;
  height: 3vh;
  background: transparent;
  text-decoration: none;
  border: 0.1px solid #ffffff1c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: none;
  outline: none;
}

.start-node {
  background: #f1ff33;
  border: none;
}

.is-set-start-node {
  -webkit-animation: border-yellow-animation 2s ease-in-out infinite alternate;
          animation: border-yellow-animation 2s ease-in-out infinite alternate;
}

@-webkit-keyframes border-yellow-animation {
  from {
    border: 0.1px solid #ffffff1c;
  }
  to {
    border: 0.1px solid #97a102;
  }
}

@keyframes border-yellow-animation {
  from {
    border: 0.1px solid #ffffff1c;
  }
  to {
    border: 0.1px solid #97a102;
  }
}

.start-node-btn {
  cursor: pointer;
  background: #f1ff33;
  border-radius: 30%;
}

.start-node-btn:hover {
  background: #f1ff33c4;
}

.finish-node {
  background: #008000;
  border: none;
}

.is-set-finish-node {
  -webkit-animation: border-green-animation 2s ease-in-out infinite alternate;
          animation: border-green-animation 2s ease-in-out infinite alternate;
}

@-webkit-keyframes border-green-animation {
  from {
    border: 0.1px solid #ffffff1c;
  }
  to {
    border: 0.1px solid #005f00;
  }
}

@keyframes border-green-animation {
  from {
    border: 0.1px solid #ffffff1c;
  }
  to {
    border: 0.1px solid #005f00;
  }
}

.finish-node-btn {
  cursor: pointer;
  border-radius: 30%;
  background: #008000;
}

.finish-node-btn:hover {
  background: #008000ce;
}

.wall-node {
  border: none;
  background: #ffffff42;
}

.visited-node {
  background: #e68200;
  border: none;
  -webkit-animation: spread-visited-node-animation 1.3s ease-in-out alternate;
          animation: spread-visited-node-animation 1.3s ease-in-out alternate;
}

@-webkit-keyframes spread-visited-node-animation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(0, 47, 255, 0.945);
    border-radius: 100%;
  }
  50% {
    background-color: #06ffd5;
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #a0ff07;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #e6b000;
  }
}

@keyframes spread-visited-node-animation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(0, 47, 255, 0.945);
    border-radius: 100%;
  }
  50% {
    background-color: #06ffd5;
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #a0ff07;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #e6b000;
  }
}

.shortest-path {
  background: #92ff05;
  -webkit-animation: shortest-path-animation 1.3s ease-in-out alternate;
          animation: shortest-path-animation 1.3s ease-in-out alternate;
  border: none;
}

@-webkit-keyframes shortest-path-animation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(255, 8, 0, 0.945);
  }
  50% {
    background-color: rgba(255, 38, 0, 0.75);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #ac4500;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #92ff05;
  }
}

@keyframes shortest-path-animation {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: rgba(255, 8, 0, 0.945);
  }
  50% {
    background-color: rgba(255, 38, 0, 0.75);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #ac4500;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #92ff05;
  }
}

.pathfinding-algorithm-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background: #2c3e50;
  background-image: none;
}

.pathfinding-algorithm-selector::-ms-expand {
  display: none;
}

.pathfinding-algorithm-selector-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7em;
  height: 1.2em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}

.pathfinding-algorithm-selector {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}

.pathfinding-algorithm-selector-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: -15px;
  right: 0;
  padding: 0 0.2em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.pathfinding-algorithm-selector-wrapper:hover::after {
  color: #eda4ff;
}

@-webkit-keyframes glow-box-positive {
  from {
    -webkit-box-shadow: 0 0 0px #83ff83, 0 0 0px #83ff83, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800;
            box-shadow: 0 0 0px #83ff83, 0 0 0px #83ff83, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800;
  }
  to {
    -webkit-box-shadow: 0 0 5px #83ff83, 0 0 5px #83ff83, 0 0 10px #00f800, 0 0 10px #00f800, 0 0 20px #00f800, 0 0 30px #00f800, 0 0 40px #00f800;
            box-shadow: 0 0 5px #83ff83, 0 0 5px #83ff83, 0 0 10px #00f800, 0 0 10px #00f800, 0 0 20px #00f800, 0 0 30px #00f800, 0 0 40px #00f800;
  }
}

@keyframes glow-box-positive {
  from {
    -webkit-box-shadow: 0 0 0px #83ff83, 0 0 0px #83ff83, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800;
            box-shadow: 0 0 0px #83ff83, 0 0 0px #83ff83, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800;
  }
  to {
    -webkit-box-shadow: 0 0 5px #83ff83, 0 0 5px #83ff83, 0 0 10px #00f800, 0 0 10px #00f800, 0 0 20px #00f800, 0 0 30px #00f800, 0 0 40px #00f800;
            box-shadow: 0 0 5px #83ff83, 0 0 5px #83ff83, 0 0 10px #00f800, 0 0 10px #00f800, 0 0 20px #00f800, 0 0 30px #00f800, 0 0 40px #00f800;
  }
}

@-webkit-keyframes glow-text-negative {
  from {
    text-shadow: 0 0 3px #ff4444, 0 0 7px #ff4444, 0 0 12px #ff0000, 0 0 18px #ff0000, 0 0 22px #ff0000, 0 0 27px #ff0000, 0 0 32px #ff0000;
  }
  to {
    text-shadow: 0 0 7px #ff4444, 0 0 17px #ff4444, 0 0 27px #ff0000, 0 0 37px #ff0000, 0 0 47px #ff0000, 0 0 57px #ff0000, 0 0 67px #ff0000;
  }
}

@keyframes glow-text-negative {
  from {
    text-shadow: 0 0 3px #ff4444, 0 0 7px #ff4444, 0 0 12px #ff0000, 0 0 18px #ff0000, 0 0 22px #ff0000, 0 0 27px #ff0000, 0 0 32px #ff0000;
  }
  to {
    text-shadow: 0 0 7px #ff4444, 0 0 17px #ff4444, 0 0 27px #ff0000, 0 0 37px #ff0000, 0 0 47px #ff0000, 0 0 57px #ff0000, 0 0 67px #ff0000;
  }
}

@-webkit-keyframes glow-box-negative {
  from {
    -webkit-box-shadow: 0 0 0px #ff4444, 0 0 0px #ff4444, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000;
            box-shadow: 0 0 0px #ff4444, 0 0 0px #ff4444, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000;
  }
  to {
    -webkit-box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
            box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
}

@keyframes glow-box-negative {
  from {
    -webkit-box-shadow: 0 0 0px #ff4444, 0 0 0px #ff4444, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000;
            box-shadow: 0 0 0px #ff4444, 0 0 0px #ff4444, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000;
  }
  to {
    -webkit-box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
            box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
}

@-webkit-keyframes glow-text-purple {
  from {
    text-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
  }
  to {
    text-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
  }
}

@keyframes glow-text-purple {
  from {
    text-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
  }
  to {
    text-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
  }
}

@-webkit-keyframes glow-box-purple {
  from {
    -webkit-box-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
            box-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
  }
  to {
    -webkit-box-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
            box-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
  }
}

@keyframes glow-box-purple {
  from {
    -webkit-box-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
            box-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
  }
  to {
    -webkit-box-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
            box-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
  }
}

@-webkit-keyframes glow-text-blue {
  from {
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 12px #0073e6, 0 0 18px #0073e6, 0 0 22px #0073e6, 0 0 27px #0073e6, 0 0 32px #0073e6;
  }
  to {
    text-shadow: 0 0 7px #fff, 0 0 17px #fff, 0 0 27px #0073e6, 0 0 37px #0073e6, 0 0 47px #0073e6, 0 0 57px #0073e6, 0 0 67px #0073e6;
  }
}

@keyframes glow-text-blue {
  from {
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 12px #0073e6, 0 0 18px #0073e6, 0 0 22px #0073e6, 0 0 27px #0073e6, 0 0 32px #0073e6;
  }
  to {
    text-shadow: 0 0 7px #fff, 0 0 17px #fff, 0 0 27px #0073e6, 0 0 37px #0073e6, 0 0 47px #0073e6, 0 0 57px #0073e6, 0 0 67px #0073e6;
  }
}

.information {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #100e17;
  top: 0;
  clip-path: circle(100px at 100% 115%);
  -webkit-clip-path: circle(100px at 100% 115%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
}

.information .title {
  text-align: center;
  margin-top: 1.5em;
}

.information.open {
  clip-path: circle(5000px at 100% 115%);
  -webkit-clip-path: circle(5000px at 100% 115%);
  pointer-events: all;
}

.information-items {
  display: -ms-grid;
  display: grid;
  height: 80vh;
  width: 100%;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
}

.information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.information-item-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.information-item-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
}

.information-item-3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
}

.information-item-4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.information-item-5 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
}

.information-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 1em;
  border-radius: 100%;
  z-index: 2;
}

.information-btn .information-btn-line {
  width: 0.5em;
  height: 1.5em;
  background: #eda4ff;
  border-radius: 30%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.information-btn .information-btn-line::after {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  background: #eda4ff;
  border-radius: 50%;
  -webkit-transform: translateY(-0.7em);
          transform: translateY(-0.7em);
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.information-btn.open .information-btn-line,
.information-btn.open .information-btn-line::after {
  background: #ff4444;
}

.information-btn.open .information-btn-line {
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
  height: 2em;
}

.information-btn.open .information-btn-line::after {
  -webkit-transform: translateY(0.8em) translatex(-0.7em) rotate(-12deg);
          transform: translateY(0.8em) translatex(-0.7em) rotate(-12deg);
  width: 2em;
  border-radius: 30%;
}

@keyframes glow-box-positive {
  from {
    -webkit-box-shadow: 0 0 0px #83ff83, 0 0 0px #83ff83, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800;
            box-shadow: 0 0 0px #83ff83, 0 0 0px #83ff83, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800, 0 0 0px #00f800;
  }
  to {
    -webkit-box-shadow: 0 0 5px #83ff83, 0 0 5px #83ff83, 0 0 10px #00f800, 0 0 10px #00f800, 0 0 20px #00f800, 0 0 30px #00f800, 0 0 40px #00f800;
            box-shadow: 0 0 5px #83ff83, 0 0 5px #83ff83, 0 0 10px #00f800, 0 0 10px #00f800, 0 0 20px #00f800, 0 0 30px #00f800, 0 0 40px #00f800;
  }
}

@keyframes glow-text-negative {
  from {
    text-shadow: 0 0 3px #ff4444, 0 0 7px #ff4444, 0 0 12px #ff0000, 0 0 18px #ff0000, 0 0 22px #ff0000, 0 0 27px #ff0000, 0 0 32px #ff0000;
  }
  to {
    text-shadow: 0 0 7px #ff4444, 0 0 17px #ff4444, 0 0 27px #ff0000, 0 0 37px #ff0000, 0 0 47px #ff0000, 0 0 57px #ff0000, 0 0 67px #ff0000;
  }
}

@keyframes glow-box-negative {
  from {
    -webkit-box-shadow: 0 0 0px #ff4444, 0 0 0px #ff4444, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000;
            box-shadow: 0 0 0px #ff4444, 0 0 0px #ff4444, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000, 0 0 0px #ff0000;
  }
  to {
    -webkit-box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
            box-shadow: 0 0 5px #ff4444, 0 0 5px #ff4444, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
  }
}

@keyframes glow-text-purple {
  from {
    text-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
  }
  to {
    text-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
  }
}

@keyframes glow-box-purple {
  from {
    -webkit-box-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
            box-shadow: 0 0 3px #eda4ff, 0 0 7px #eda4ff, 0 0 12px #cf0dff, 0 0 18px #cf0dff, 0 0 22px #cf0dff, 0 0 27px #cf0dff, 0 0 32px #cf0dff;
  }
  to {
    -webkit-box-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
            box-shadow: 0 0 7px #eda4ff, 0 0 17px #eda4ff, 0 0 27px #cf0dff, 0 0 37px #cf0dff, 0 0 47px #cf0dff, 0 0 57px #cf0dff, 0 0 67px #cf0dff;
  }
}

@keyframes glow-text-blue {
  from {
    text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 12px #0073e6, 0 0 18px #0073e6, 0 0 22px #0073e6, 0 0 27px #0073e6, 0 0 32px #0073e6;
  }
  to {
    text-shadow: 0 0 7px #fff, 0 0 17px #fff, 0 0 27px #0073e6, 0 0 37px #0073e6, 0 0 47px #0073e6, 0 0 57px #0073e6, 0 0 67px #0073e6;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

body {
  background: #100e17;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.89);
  overflow: hidden;
}

.navbar {
  width: 100%;
  overflow: hidden;
}

.title-wrapper {
  padding: 0 1rem;
  width: 30%;
  height: auto;
  float: left;
}

.settings {
  width: 70%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1rem;
}

.settings .secondary-title {
  margin-bottom: 0.7rem;
}

.navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stop-positive-btn {
  height: 6vh;
  width: 10vh;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  color: #83ff83;
  border-radius: 50px;
  background-color: transparent;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stop-positive-btn .play-stop-symbol {
  width: 0;
  height: 20px;
  border-style: solid;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  cursor: pointer;
}

.stop-positive-btn .play-stop-symbol.stop {
  border-width: 12px 12px 12px 12px;
  border-color: #ff4444;
  -webkit-animation: glow-box-negative 1s ease-in-out infinite alternate;
          animation: glow-box-negative 1s ease-in-out infinite alternate;
}

.stop-positive-btn:hover {
  -webkit-animation: glow-box-negative 1s ease-in-out infinite alternate;
          animation: glow-box-negative 1s ease-in-out infinite alternate;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  background: #ff4444;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

.stop-positive-btn:hover .play-stop-symbol.stop {
  border-color: #100e17;
}

.positive-neon-btn {
  height: 6vh;
  width: 10vh;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  color: #83ff83;
  border-radius: 50px;
  background-color: transparent;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.positive-neon-btn .play-stop-symbol {
  width: 0;
  border-color: transparent transparent transparent #83ff83;
  height: 20px;
  border-width: 10px 0 10px 20px;
  border-style: solid;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
  cursor: pointer;
}

.positive-neon-btn .play-stop-symbol.stop {
  border-width: 12px 12px 12px 12px;
  border-color: #ff4444;
}

.positive-neon-btn:hover {
  -webkit-animation: glow-box-positive 1s ease-in-out infinite alternate;
          animation: glow-box-positive 1s ease-in-out infinite alternate;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  background: #83ff83;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

.positive-neon-btn:hover .play-stop-symbol {
  border-color: transparent transparent transparent #100e17;
}

.positive-neon-btn:hover .play-stop-symbol.stop {
  border-color: #100e17;
}

.btn {
  cursor: pointer;
}

.negative-neon-btn {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  -webkit-animation: glow-text-negative 1s ease-in-out infinite alternate;
          animation: glow-text-negative 1s ease-in-out infinite alternate;
  outline: none;
  text-decoration: none;
  color: #ff4444;
  border-radius: 50px;
  background-color: transparent;
  font-weight: bold;
}

.negative-neon-btn:hover {
  -webkit-animation: glow-box-negative 1s ease-in-out infinite alternate;
          animation: glow-box-negative 1s ease-in-out infinite alternate;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  background: #ff4444;
  color: #100e17;
  -webkit-transition: 600ms ease-in-out all;
  transition: 600ms ease-in-out all;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
}

.grids {
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
}

.title {
  color: #fff;
  -webkit-animation: glow-text-blue 1s ease-in-out infinite alternate;
          animation: glow-text-blue 1s ease-in-out infinite alternate;
  margin-bottom: 1rem;
}

.secondary-title {
  color: #eda4ff;
  -webkit-animation: glow-text-purple 1s ease-in-out infinite alternate;
          animation: glow-text-purple 1s ease-in-out infinite alternate;
}
/*# sourceMappingURL=index.css.map */